<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Formulario de inicio de sesión -->
      <form (ngSubmit)="validateLogin()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input [(ngModel)]="age" name="age" type="number" min="1" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      </form>

      <!-- Mensaje de inicio de sesión -->
      <div *ngIf="loginMessage" class="login-message">
        {{ loginMessage }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
